*{
    margin: 0%;
}

header {
    background-color: rgba(157, 0, 255, 0.438);
    height: 40px;
    left: 1px;
    right: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

    header nav{
        padding: 35px 0px 0px 0px;
    }

body {
    background-image: url('../Imagenes/316150844_511756574328321_1023899038976136265_n.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    float: left;
    display: flex;
}

nav ul li  {
    display: block;
    margin-right: 20px;
    padding: 20px 0px;
    color: rgb(242, 255, 0);
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    float: right;  
    margin-top: -40px;
}
nav ul{
    list-style: none;
    padding: 0px 20px;
}
nav ul li a{
    margin-top: auto;
    color: #f6ff0081;
    text-align: right;
    font-size: 30px;
    font-weight: lighter;
   text-decoration: none;
}

nav ul li a:hover{

    color: aquamarine;
}